@import "tailwindcss";


@theme {
  --font-mona-sans: Mona Sans, serif;
  --color-mainwhite: #FBFBFB;
  --color-mainred: #F45B69;
  --color-maingreen: #98E990;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
